@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --black: #202729;
  --white: #ffffff;
  /* --spearmint: #63d297; */
  --spearmint: #3dc77d;
  --spearmint-dark: #4ba173;
  --red: #ff5252;
  --yellow: #fff176;
  --gray1: #353744;
  --gray2: #424242;
  --gray3: #616161;
  --gray4: #999999;

  --blue: #4a86e8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--black);
    --text: var(--white);
  }

  code,
  input,
  textarea {
    background-color: var(--gray1);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--white);
    --text: var(--black);
  }

  code,
  input,
  textarea {
    background-color: var(--gray4);
  }
}

:root {
  background-color: var(--bg);
}

* {
  color: var(--text);
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: monospace;
  color: #d8bfd8;
  padding: 0 0.2em;
}

pre > code {
  padding: 10px;
  display: block;
  overflow-x: auto;
}

input:not(reset):not(submit):hover,
textarea:hover {
  box-shadow: 0 0 0 2px var(--spearmint);
}

button,
input[type="reset"],
input[type="submit"],
select {
  font-size: 1em;
  background-color: var(--spearmint);
  border: 0;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

button:hover {
  background-color: var(--spearmint-dark);
}

a,
a:visited {
  color: var(--red);
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

input,
textarea {
  padding: 0.8em;
  border-radius: 0.5em;
  border: none;
  margin-bottom: 0.5em;
}

input:not([type="checkbox"]):not([type="radio"]) {
  display: block;
}

label {
  display: inline-block;
}

details[open] summary {
  text-decoration: underline;
}

textarea {
  display: block;
  margin-right: 0;
  box-sizing: border-box;
}

select {
  background-color: var(--spearmint);
  border: 0;
  padding: 0.5em;
  border-radius: 0.5em;
}

blockquote {
  border-left: 4px solid var(--spearmint);
  margin-left: 0.5em;
  padding-left: 0.5em;
}

hr {
  background-color: var(--spearmint);
  border: 0;
  height: 1px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0.5em;
}

@media (prefers-color-scheme: dark) {
  tr:nth-child(even) {
    background-color: var(--gray1);
  }
}

@media (prefers-color-scheme: light) {
  tr:nth-child(even) {
    background-color: var(--gray4);
  }
}

thead {
  font-weight: 600;
  border-bottom: 1px solid var(--spearmint);
}

th {
  justify-self: left;
}
